A smart person isn't a master of information but rather is a master of
information on where to obtain information.

Although I have a bit of experience in front to back office automations and
trading platforms, there is quite a big difference between project work at an
investment bank and personal project work. From Jira's to Reference Data to
file messaging/processing although there are some similarities (perhaps sec
master and database/table set ups), there are quite a few differences, This
file will list out all the resources I've used/found useful in building this
system.

Secondly I will include a requirements section in an attempt to make it
possible to fork/pull and run any of this code.











Requirements:
Linux/Unix based systems will be able to leverage the aptitude commandline tool
to install most of these requirements, I'm developing on a modified version of
Ubuntu and will not post any assistance/requirements for building on windows.
Python installations will leverage the python package manager pip (commandline
tool pip)

Python (2.7_) installations:

pip install requests            - HTTP library for Python
pip install beautifulsoup4      - For quick turn around scraping




